html,body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	display: table;
	background-color: #b3d4d4;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	min-height: 100%;
	align-content: center;
	position: relative;
	font-size: 20px;
}
footer {
	display : table-row;
	position: absolute; 
	bottom: 0; 
	width: 100%;
}

.navigation {
	background-color: #2b2b2b;
	color: white;
	height: 50px;
	animation-name: navegacao;
	animation-duration: 1s;
}

.navigation ul {
	margin-top: 0px;
	list-style: none;
	padding-left: 0px;
	text-align: right;
	height: 50px;
}

.navigation li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px; 
	line-height: 50px;
	font-size: 20px;
	font-weight: 100;
}

.navigation a {
	color: white;
	text-decoration: none;
}

.navigation a:hover {
	color: #f27609;
}

.navigation li.threeline-icon {
	display: none;
}

.navigation li.threeline-icon:hover {
	color: #f27609;
	cursor: pointer;
}


.capa {
	color: white;
}

.capa div {
	height: 500px;
}

.bulletin {
	float: right;
}


.profile-pic {
	width: 40%;
	text-align: center;
	animation-name: profile-capa;
	animation-duration: 3s;
	float: left;
}

.profile-pic img {
	width: 350px;
	border-radius: 350px;
	margin-top: 100px;
}

.profile-title {
	vertical-align: top;
	width: 59%;
	animation-name: titulo-capa;
	animation-duration: 3s;
}

.profile-title h1 {
	text-transform: uppercase;
	font-size: 60px;
	margin-top: 200px;
	font-weight: 400;
}

.profile-title h2 {
	font-size: 20px;
	font-weight: 100;
	margin-top: -35px;
}

main {
	padding: 0 20px 10px 60px;
}

.main {
	color: blue;
	text-decoration:aqua;
	padding: 0 10px 0 10px;

}

.container {
	margin-bottom: 60px;
}

.cv-pic {
	float: right;
	width: 150px;
}

h1 {
	color: #ff2600;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bolder;
}

h2 {
	color: rgb(8, 82, 143);
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 45px;
}

h3 {
	color: red;
	font-size: 20px;
	text-transform: uppercase;
}

p {
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: 100;
	line-height: 25px;
	text-align: justify;
	font-weight: bolder;		
}

em {
	font-size: 22px;
	font-weight: bolder;	
}

#Gauche_de_page h1 {
	color: #ffee00;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 45px;
}

#Gauche_de_page h2 {
	color: white;
	font-size: 20px;
	text-transform: unset;
	font-weight: normal;
	margin-top: 45px;
}


#Gauche_de_page li {
	color: white;

}


.capa h2{
	color: rgb(8, 82, 143);
	font-size: 20px;
	text-transform: unset;
	font-weight: normal;
	margin-top: 45px;
}




.caminho {
	list-style: none;
	padding-left: 0;
	color: white;
}



a {
	color: rgb(39, 43, 255);
	text-transform: capitalize;

}


.social-img {
	width: 40px;
	margin-right: 15px;
}


.miniatura {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	overflow: hidden;
}

.blackbox {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	padding-top: 120px;
	transition: 1.5s;
}










.foto-trabalhos {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.foto-trabalho1 {
	width: 50%;
	margin-bottom: 10px;
	margin-top: 10px;
}


.backlink {
	color: blue;
}


/* Corps */
section
{
    display: flex;
    margin-bottom: 20px;
    background-size: 100%;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-left: 10px;
	width: 60%;
}
aside
{
	width: 40%;
    position: relative;
    background-color: #433b5d;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
}

figcaption
{
    color: white;
    font-size: 1.2em;
}


.right {
	width: 100%;
}
  
.right__title {
	padding: 0.5em 1em;
	margin: 0;
	color: white;
	background-color: #212025;
}
  
.posts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start ;
	flex-wrap: wrap;
}
  
.post {
	width: 40%;
	padding: 1.5em;
	margin: 10px;
	font-size: 0.9em;
	border: solid #212025 1px; 
	background-color: rgb(255, 218, 218);
}
  
.post__solo{
	padding: 1.5em;
	font-size: 0.9em;
	width: 80%;
}
  
.post__meta {
	font-size: 0.9em;
	color: blue;
	margin: 0.625em 0;
}
  
.post__author-icon {
	width: 1.4em;
}
  
.post__author {
	color: black;
	font-weight: 700;
}
  
.post__link {
	font-weight: bold;
	text-decoration: underline;
}
  
.post__link:hover {
	text-decoration: none;
}

.post__img {
	width: 900px;
	height: auto;
	margin-right: 50px;
	float: left;
}

.articletexte{
	font-size: 1.2em;
}

.post__category {
	display: inline-block;
	text-transform: uppercase;
	color: white;
	border-radius: 2px;
	text-align: center;
	font-size: 0.8em;
	font-weight: 700;
	padding: 3px 6px;
	background-color:  #e76f51;
	margin-bottom: 0.5em;
}
  
.post__category:hover{
	color: #212025;
	text-decoration: none;
}
  
.post__category--color-education{
	background-color: #e76f51;
}
  
.post__category--color-fun{
	background-color: #e9c46a;
}
  
.post__category--color-care{
	background-color: #2a9d8f;
}


@keyframes profile-capa {
	0% {opacity: 0; transform: translate(0px,25px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes titulo-capa {
	0% {opacity: 0; transform: translate(0px,-25px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes conteudo {
	0% {opacity: 0; transform: translate(-25px,0px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes navegacao {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}






@media (max-width: 1000px) {


.navigation li {
	display: none;
}

.navigation li.threeline-icon {
	display: inline-block;
}







.capa div {
	display: block;
	height: auto;
}






.profile-pic {
	width: 40%;
	display: block;
}

.profile-pic img {
	margin-top: 0;
	max-width: 35%;
}






.profile-title {
	text-align: center;
	width: 60%;
}

.profile-title h1 {
	margin-top: 30px;
	font-size: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.profile-title h2 {
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
}




.main {
	padding: 10px 5% 40px 5%;
}

.main p {
	text-align: left;
	line-height: 30px;
}




.caminho li {
	font-size: 15px;
}




.cv-pic {
	float: none;
	max-width: 100%;
	margin-right: 100%;
}





.miniatura {
	max-width: 100%;
	background-size: auto 100%;
}



.menujs {
	height: auto;
}

.menujs ul {
	height: auto;
	text-align: center;
	padding-right: 25%;
	padding-left: 25%;
}

.menujs li {
	display: block;
	border-bottom: solid gray 1px;
	width: 100%;
	padding: 0;
}

}